/* index.css */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
}

/* styles.css */

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars from appearing */
}

canvas {
  display: block; /* Remove default inline behavior */
}
